@page
@model TimeZone_Converter_using_ASP.NETCore.Pages.ContactModel
@{
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-items-center mb-3">
                <img src="~/images/github.png" alt="GitHub Logo" style="width: 30px; height: 30px; margin-right: 10px;">
                <a href="https://github.com/akshay-mudda" target="_blank">Follow My GitHub Profile for more Projects</a>
            </div>
            <h3>Meet your Developer</h3>
            <p>
                Hi, I'm Akshay, a software developer with expertise in .NET Full Stack Development. You can connect with me on GitHub to see more of my work. I am passionate about building scalable and maintainable software solutions.
            </p>
            <p> You can connect with me via clicking on this link below. Thank You!!
            <a href="https://www.linkedin.com/in/akshay-mudda/" target="_blank">Message Me</a>
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img src="~/images/Developer.jpg" class="img-fluid" alt="Developer Image" style="height:300px;width:300px;">
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-md-12">
            <h3>Contact Form</h3>
            <form class="border p-4 rounded">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Your Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>