@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container mt-5">
    <div class="row mt-3">
        <div class="col-md-4">
            <img src="~/images/time.png" class="img-fluid" alt="Time Zone Map" style="height:250px;width:250px;">
        </div>
        <div class="col-md-8">
            <h2>What is a Time Zone?</h2>
            <p>
                A time zone is a region of the globe that observes a uniform standard time for legal, commercial, and social purposes.
                Time zones tend to follow the boundaries of countries and their subdivisions instead of strictly following longitude, because it is convenient for areas in close commercial or other communication to keep the same time.
            </p>
            <p>
                Most time zones are exactly one hour apart, and by convention, compute their local time as an offset from Coordinated Universal Time (UTC).
                The majority of time zones are offset from UTC by a whole number of hours (UTC−12 to UTC+14), but a few zones are offset by 30 or 45 minutes.
            </p>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-md-8 text-center">
            <h3><u>Time Zones World Map</u></h3>
            <img src="~/images/zone.jpeg" class="img-fluid" alt="Time Zone Clocks" style="">
        </div>
    </div>
</div>